<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>5천원 이하 선물해주기</string>
	<string>이태원가기</string>
	<string>고양이 카페가기</string>
	<string>허그하기</string>
	<string>꽃 선물하기</string>
	<string>최초실행 Plist 테스트 미션</string>
</array>
</plist>
